/* Education Container */
.eduSection {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "eDate econtent econtent econtent";
}

.econtent {
  grid-area: econtent;
}
.education-date {
  grid-area: eDate;
}

.date-text {
  margin-bottom: -10px;
}

/* Media Queries */

@media screen and (max-width: 650px){

  .eduSection {
      grid-template-areas:
      "eDate eDate eDate ."
      "econtent econtent econtent econtent";
  }

  p.body-text {
      margin:10px 10px 30px 0;
  }
}