<div class="visitor-view">
    <div class="header">
        <div class="edit-btn-cont" (click)="showModal()"> 
            <i class="fas fa-edit edit-icon"></i>
        </div>
        <h1 class="section-header-text">Skills</h1>
    </div>
    <div class="programming-section">
        <h2>Programming Skills</h2>
        <div class="skills-icons">
            <i class="devicon-html5-plain-wordmark colored skill-icon"></i>
            <i class="devicon-css3-plain-wordmark colored skill-icon"></i>
            <i class="devicon-javascript-plain colored skill-icon"></i>
            <i class="devicon-angularjs-plain colored skill-icon"></i>
            <i class="devicon-mongodb-plain-wordmark colored skill-icon"></i>
            <i class="devicon-docker-plain-wordmark colored skill-icon"></i>
        </div>
    </div>
    <div class="other-section">
        <h2>Other Skills</h2>
        <div class="skills-container">
            <div class="skill-bubble">
                <p>coding</p>
            </div> 
            <div class="skill-bubble">
                <p>Adobe Photoshop</p>
            </div>
            <div class="skill-bubble">
                <p>Putting on a screen protector without having any dust or air bubble under</p>
            </div>
            <div class="skill-bubble">
                <p>kdjflsd</p>
            </div>
            <div class="skill-bubble">
                <p>Being awesome</p>
            </div>
            <div class="skill-bubble">
                <p>Adobe Illustrator</p>
            </div>
            <div class="skill-bubble">
                <p>Adobe After Effects</p>
            </div>
            <div class="skill-bubble">
                <p>Some other skill</p>
            </div>
            <div class="skill-bubble">
                <p>Some other really useful skill</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="popup-modal">

</div> -->

