.hero{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    background-image: url(../../../../assets/img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-logo{
    height: 50%;
    width: auto;
}
.hero-description{
    margin: 50px;
}