<div class="hero-img">
  <img class="hero-logo" src="../../../../assets/img/hero-logo.png" alt="Merits">
  <div class="login-container">
    <app-login></app-login>
  </div>
</div>
<div class="line"></div>
<div class="hero-description">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aliquid quidem voluptatum fuga tempore, eaque laborum laboriosam repellat hic ab modi veniam voluptates ipsum distinctio id dicta quibusdam itaque rem praesentium sint sunt impedit, nobis fugit et. Magnam tempore, a culpa delectus blanditiis deserunt et architecto, ipsum esse impedit voluptatibus.</p>
</div>
<!-- <p>
  hero works!
</p> -->
