.hero-img{
    width: 100%;
    height: 350px;
    /* background-color: blue; */
    background-image: url(../../../../assets/img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-logo{
    height: 50%;
    width: auto;
}
.line{
    width: 100%;
    height: 10px;
    background-color: #ffb808;
}
.hero-description{
    margin: 20px;
}