.hero-img{
    width: 100%;
    height: 350px;
    /* background-color: blue; */
    background-image: url(../../../../assets/img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero-logo{
    height: 50%;
    width: auto;
}
.login-container{
    /* border: 1px dashed red; */
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 15px 0px 0px;
}
.line{
    width: 100%;
    height: 10px;
    background-color: #ffb808;
}
.hero-description{
    margin: 20px;
    /* font-size: 12pt; */
}