.inputs{
    /* width: 100%; */
    margin: 15px 25px;
}
.form-input{
    padding: 0px;
}
.program-popup-section{
    margin: 25px;
    /* font-size: 50px; */
}
.program-popup-section i{
    font-size: 50px;
}
.icons-section{
    margin: 10px 0px;
}
.skills-container{
    margin: 10px 0px;
}
.skill-bubble{
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    margin: 3px;
}
.skill-bubble p{
    margin: 7px;
    font-size: 12pt;
    display: inline-block;
}
.close{
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}
.icon{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.close-icon{
    cursor: pointer;
    color: #fff;
}
.close-btn{
    color: #fff;
    width: 100%;
    height: 100%;
}
.btn-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.submit-btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    color: #757575;
    cursor: pointer;
    margin: 0 auto;
}