/* universals*/

.container-box {
    margin: 20px 80px 0px 80px;
  
    }

h1 {
    text-align: center;
    font-size: 18pt;
    color: #C6C6C6;
}

h2 {
    padding: 5px;


}
.search-wrap{
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-areas: "button bar";
    box-shadow: 5px 5px 12px rgba(0,0,0,0.35);
    grid-gap: 20px;
    margin: 40px 20px 20px 80px;
    border-radius: 5px;
   

}
.search-bar{
    width: 100%;
    grid-area: bar;
 
}
button{
    grid-area: button;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background-color: #ffb808;
    color: #fff;
    cursor: pointer;
}
button:focus {
    outline: none;
}
input:focus {
    outline: none;
}

.button-section{
    text-align: center;
    padding: 20px;
}
.button-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    color: #757575;
    cursor: pointer;
    
}
.form{
    padding: 30px;
}

.city-state {
    width: 50%;

}
 
.input-1 {
    display: inline-block; 
    border-radius: 5px;
}

.input-2 {
    width: 50%;
}

#state {
    color: #C6C6C6;
    height: 32px;
    text-indent: 5px;

}

