.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "hero hero hero hero hero hero hero hero hero hero hero hero hero hero"
    ". . search search search search search search search search search search . ."
    ". . form form form form form form form form form form . ."
    "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
}

.hero-container {
    grid-area: hero;
}

.search-container {
    grid-area: search;
    margin-bottom: 60px;
    border-radius: 5px;
}

.register-form-container {
    grid-area: form;
}

.footer-container {
    grid-area: footer;
}

/* Media Queries */

@media (max-width: 750px) {

    .grid-container{
        grid-template-areas:
        "hero hero hero hero hero hero hero hero hero hero hero hero hero hero"
        ". search search search search search search search search search search search search ."
        "form form form form form form form form form form form form form form"
        "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }

}