<div class="navStyle"><!-- Nav Start -->

    <!-- Image -->
    <div class="img-container">
        <img class="img-round" src="../../../../assets/img/default-profile.png" alt="">
    </div>

    <!-- Nav -->
    <ul class="nav-text">
        <li><a href="#">About</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Experience</a></li>
        <li><a href="#">Project</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Awards</a></li>
        <li><a href="#">Signout</a></li>
    </ul>

</div><!-- Nav End -->
