<div class="popup-grid">
    <form #myForm="ngForm" (ngSubmit)="onSubmit" class="popup-modal form">
      <div class="close-modal-btn" (click)="hideProjectsModal()">
        <i class="fas fa-times close-btn"></i>
      </div>
      <div class="proj-inputs">
        <div class="add-img">
            <i class="fas fa-plus plus-sign fa-3x"></i>
            <p>Add a Project Image</p>
        </div>
        <div class="input-fields">
          <input class="form-input first-name"type="text" placeholder="Title of Project">
          <textarea class="form-textarea" rows="5" placeholder="Description of Project"></textarea>
          <input class="form-input first-name"type="text" placeholder="Project URL">
        </div>
        <div class="btn-section">
          <button class="submit-btn" type="submit">Save Changes</button> 
        </div>
      </div>
    </form>
  </div>
