<div class="login-wrap">
  <!-- <form action="" method="get"> -->
    <!-- username -->
    <div class="username-section">
      <input class="form-input" type="text" name="username" id="username" placeholder="Username">
    </div>
    <!-- password -->
    <div class="pass-section">
      <input class="form-input" type="password" name="password" id="password" placeholder="Password">
    </div>
    <!-- submission -->
    <div class="btn-section">
      <button type="submit" routerLink="/app-profile">Login</button>
    </div>
    <div class="forgot-section">
      <p>Forgot Password</p>
    </div>
  <!-- </form> -->
</div>
