<!-- Experience Start -->

<!-- Header -->
<div class="header">
    <i class="fas fa-eye eye-icon"></i>
  <div class="edit-btn-cont" (click)="showExpModal()">
    <i class="fas fa-edit edit-icon"></i>
  </div>
  <h1 class="section-header-text">Experience</h1>
</div>
<!-- Exp Content -->
<div class="expSection">
  <label class="date-text exp-date">Mar 2018 - Current</label>
  <div class="econtent">
    <h3 class="subhead-1-text ">Shift3 - Fresno</h3>
    <h4 class="subhead-2-text ">UI designer</h4>
    <p class="body-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis numquam, ipsum sint iusto vero temporibus unde harum at
      odio in fuga, eaque commodi voluptate obcaecati dignissimos quae illo officia autem!</p>
  </div>
</div>

<div class="expSection">
  <label class="date-text exp-date">Jan 2018 - Feb 2018</label>
  <div class="econtent">
    <h3 class="subhead-1-text ">Bitwise Industries - Fresno</h3>
    <h4 class="subhead-2-text ">Software Engineer</h4>
    <p class="body-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis numquam, ipsum sint iusto vero temporibus unde harum at
      odio in fuga, eaque commodi voluptate obcaecati dignissimos quae illo officia autem!</p>
  </div>
</div>
<!-- Experience End -->