/* Experience Container */
.expSection {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "eDate econtent econtent econtent";
}

.econtent {
    grid-area:econtent;
}

.exp-date {
    grid-area:eDate;
}

/* Text */
p {
    margin:10px 10px 10px 0;
}

.date-text {
    margin-bottom: -10px;
}

/* Media Queries */
@media screen and (max-width: 650px){

    .expSection {
        grid-template-areas:
        "eDate eDate eDate ."
        "econtent econtent econtent econtent";
    }

    p.body-text {
        margin:10px 10px 30px 0;
    }

    /* Redeclare Grid Areas for Compiling */
    .econtent {
        grid-area:econtent;
    }

    .exp-date {
        grid-area:eDate;
    }
}