<div class="projects">
  <div class="comp-header">
    <h1>Projects</h1>
    <i class="fas fa-eye"></i>
    <i class="fas fa-eye hidden"></i>
  </div>
  <div class="proj-content">
    <div class="placeholder" (mouseenter)="show($event)" (mouseleave)="hide($event)">
      <img src="../../../../assets/img/placeholder-1.jpg" alt="project des">
      <div class="overlay hidden">
        <h2>Project One</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo architecto commodi harum deserunt quisquam cupiditate, animi eum quasi dolore ipsam.</p>
        <div class="icon"></div>
        <div class="color"></div>
      </div>
    </div>
    <div class="placeholder" (mouseenter)="show($event)" (mouseleave)="hide($event)">
      <img src="../../../../assets/img/placeholder-2.jpg" alt="project des">
      <div class="overlay">
        <h2>Project Two</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo architecto commodi harum deserunt quisquam cupiditate, animi eum quasi dolore ipsam.</p>
        <div class="icon"></div>
        <div class="color"></div>
      </div>
     </div>
     <div class="placeholder" (mouseenter)="show($event)" (mouseleave)="hide($event)">
      <img src="../../../../assets/img/placeholder-3.jpg" alt="project des">
      <div class="overlay">
        <h2>Project Three</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo architecto commodi harum deserunt quisquam cupiditate, animi eum quasi dolore ipsam.</p>
        <div class="icon"></div>
        <div class="color"></div>
      </div>
     </div>
     <div class="placeholder" (mouseenter)="show($event)" (mouseleave)="hide($event)">
      <img src="../../../../assets/img/placeholder-4.jpg" alt="project des">
      <div class="overlay">
        <h2>Project Four</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo architecto commodi harum deserunt quisquam cupiditate, animi eum quasi dolore ipsam.</p>
        <div class="icon"></div>
        <div class="color"></div>
      </div>
     </div>
     <div class="placeholder" (mouseenter)="show($event)" (mouseleave)="hide($event)">
      <img src="../../../../assets/img/placeholder-5.jpg" alt="project des">
      <div class="overlay">
        <h2>Project Five</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo architecto commodi harum deserunt quisquam cupiditate, animi eum quasi dolore ipsam.</p>
        <div class="icon"></div>
        <div class="color"></div>
      </div>
     </div>
     <div class="placeholder" (mouseenter)="show($event)" (mouseleave)="hide($event)">
      <img src="../../../../assets/img/placeholder-6.jpg" alt="project des">
      <div class="overlay">
        <div class="color"></div>
        <h2>Project Six</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo architecto commodi harum deserunt quisquam cupiditate, animi eum quasi dolore ipsam.</p>
        <div class="icon"></div>
      </div>
     </div>
     <div class="placeholder" (mouseenter)="show($event)" (mouseleave)="hide($event)">
      <img src="../../../../assets/img/placeholder-6.jpg" alt="project des">
      <div class="overlay">
        <div class="color"></div>
        <!-- <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p> -->
        <div class="icon"></div>
      </div>
     </div>
  </div>
</div>
