/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.font-light{
    font-weight: 300;
}
.font-reg{
    font-weight: 400;
}
.font-med{
    font-weight: 500;
}
.font-semi-bold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-ex-bold{
    font-weight: 800;
}
.form{
    margin: 0;
    width: 100%;
    background-color: rgba(255,184,8,0.85);
    border-radius: 5px;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.35);
}
.form-input{
    width: 100%;
    font-size: 13pt;
    font-weight: 300;
    border-radius: 5px;
    border: none;
    height: 30px;
    text-indent: 10px;
    font-family: 'Montserrat', sans-serif;
}
.form-input-label{
    font-size: 15pt;
    font-weight: 300;
    color: #fff;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1px;
}
::-webkit-input-placeholder {
    color: #C6C6C6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-indent: 10px;
  }
  select{
    font-size: 16px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}
.name-text{
    font-weight: 800;
    font-size: 70pt;
}
.title-text{
    font-weight: 300;
    font-size: 30pt;
}
.section-header-text{
    font-weight: 600;
    font-size: 40pt;
    margin: 0px;
    border-bottom: 4px solid #ffb808;
}
.subhead-1-text{
    font-weight: 700;
    font-size: 20pt;
}
.subhead-2-text{
    font-weight: 300;
    font-size: 14pt;
}
.date-text{
    font-weight: 300;
    font-size: 14pt;
    font-style: italic;
}
.body-text{
    font-size: 12pt;
}
.nav-text{
    color: #fff;
    list-style-type: none;
    text-align: center;
    font-weight: 500;
    font-size: 24pt;
}
.nav-text li{
    margin: 20px 0px;
}