/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.font-light {
  font-weight: 300;
}
.font-reg {
  font-weight: 400;
}
.font-med {
  font-weight: 500;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-ex-bold {
  font-weight: 800;
}
.form {
  margin: 0;
  width: 100%;
  background-color: rgba(255, 184, 8, 0.85);
  border-radius: 5px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.35);
}
.form-input {
  width: 100%;
  font-size: 13pt;
  font-weight: 300;
  border-radius: 5px;
  border: none;
  height: 30px;
  text-indent: 10px;
  font-family: "Montserrat", sans-serif;
}
.form-input-label {
  font-size: 15pt;
  font-weight: 300;
  color: #fff;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 1px;
}
.textarea-styled {
  width: 400px;
  height: 100px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;

  background-position: bottom right;
  background-repeat: no-repeat;
}
::-webkit-input-placeholder {
    color: #C6C6C6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-indent: 10px;
  }
  select{
    font-size: 16px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}
.name-text{
    font-weight: 800;
    font-size: 70pt;
}
.title-text{
    font-weight: 300;
    font-size: 30pt;
}
.section-header-text{
    font-weight: 600;
    font-size: 40pt;
    margin: 0px;
    border-bottom: 4px solid #ffb808;
}
.subhead-1-text{
    font-weight: 700;
    font-size: 20pt;
}
.subhead-2-text{
    font-weight: 300;
    font-size: 14pt;
}
.date-text{
    font-weight: 300;
    font-size: 14pt;
    font-style: italic;
}
.body-text{
    font-size: 12pt;
}
.nav-text{
    color: #fff;
    list-style-type: none;
    text-align: center;
    font-weight: 500;
    font-size: 24pt;
}
.nav-text li{
    margin: 20px 0px;
}
  /* color: #c6c6c6;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-indent: 10px;
} */
select {
  font-size: 16px;
  border: none;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}
.name-text {
  font-weight: 800;
  font-size: 70pt;
  /* height: 50px; */
  margin: 0px;
}
.title-text {
  font-weight: 300;
  font-size: 30pt;
  margin: 0px;
}
.section-header-text {
  font-weight: 600;
  font-size: 40pt;
  border-bottom: 4px solid #ffb808;
}
.subhead-1-text {
  margin: 0px;
  font-weight: 700;
  font-size: 20pt;
}
.subhead-2-text {
  margin: 5px;
  font-weight: 300;
  font-size: 14pt;
}
.date-text {
  font-weight: 300;
  font-size: 14pt;
  font-style: italic;
}
.body-text {
  font-size: 12pt;
}
.nav-text {
  margin-top: 10px;
  padding: 0;
  color: #fff;
  list-style-type: none;
  text-align: center;
  font-weight: 500;
  font-size: 18pt;
}
.nav-text li {
  margin: 10px 0px;
}
.popup-grid{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". form form form form form ."
}
.popup-modal{
  grid-area: form;
  width: 100%;
}
.close-modal-btn{
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin: 10px;
}
.close-btn{
  color: #fff;
  width: 100%;
  height: 100%;
}
