.profile-grid-container{
    width: 100vw;
    height: 100vh;
    /* border: 1px dashed red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav co co co co co co"
}
.side-nav{
    grid-area: nav;
    background-color: #424242;
} 
.content{
    grid-area: co;
    border: 1px dashed red;
}
.skills-container{
    border: 1px dashed blue;
    margin: 30px;
}