<div id ="skills-popup" class="popup-bg">
  <div class="popup-grid">
  <form #myForm="ngForm" (ngSubmit)="onSubmit" class="popup-modal form">
    <div class="close-modal-btn" (click)="hideModal()">
      <i class="fas fa-times close-btn"></i>
    </div>
    <div class="inputs">
      <label class="form-input-label" for="new skill">Add a New Skill</label>
      <input class="form-input first-name"type="text" placeholder="Type to Add a New Skill">
      <!-- ngControl="otherSkills"
      [(ngModel)]="User.skills" -->
    </div>
    <div class="program-popup-section">
      <h2 class="form-input-label">Programming Skills</h2>
      <div class="icons-section">

        <div class="icon">
          <i class="devicon-html5-plain-wordmark colored skill-icon"></i>
          <i class="fas fa-times close-icon"></i>
        </div>
        
        <div class="icon">
          <i class="devicon-css3-plain-wordmark colored skill-icon"></i>
          <i class="fas fa-times close-icon"></i>
        </div>
        
        <div class="icon">
          <i class="devicon-javascript-plain colored skill-icon"></i>
          <i class="fas fa-times close-icon"></i>
        </div>

        <div class="icon">
          <i class="devicon-angularjs-plain colored skill-icon"></i>
          <i class="fas fa-times close-icon"></i>
        </div>

        <div class="icon">
          <i class="devicon-mongodb-plain-wordmark colored skill-icon"></i>
          <i class="fas fa-times close-icon"></i>
        </div>

        <div class="icon">
          <i class="devicon-docker-plain-wordmark colored skill-icon"></i>
          <i class="fas fa-times close-icon"></i>
        </div>
      </div>
      <h2 class="form-input-label">Other Skills</h2>
        <div class="skills-container">

            <div class="skill-bubble">
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
              <p>coding</p>
            </div>

            <div class="skill-bubble">
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
              <p>Adobe Photoshop</p>
            </div>

            <div class="skill-bubble">
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
              <p>kdjflsd</p>
            </div>

            <div class="skill-bubble">
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
              <p>Being awesome</p>
            </div>

            <div class="skill-bubble">
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
              <p>Adobe Illustrator</p>
            </div>

            <div class="skill-bubble">
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
              <p>Adobe After Effects</p>
            </div>

            <div class="skill-bubble">
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
              <p>Some other skill</p>
            </div>

            <div class="skill-bubble">
              <div class="close">
                <i class="fas fa-times"></i>
              </div>
              <p>Some other really useful skill</p>
            </div>

        </div>
        <div class="btn-section">
          <button class="submit-btn" type="submit">Save Changes</button>
        </div>
    </div>
  </form>
  </div>
</div>

<div id="projects-popup" class="popup-bg">
  <div class="popup-grid">
    <form #myForm="ngForm" (ngSubmit)="onSubmit" class="popup-modal form">
      <div class="close-modal-btn" (click)="hideProjectsModal()">
        <i class="fas fa-times close-btn"></i>
      </div>
    </form>
  </div>
</div>

<div class="profile-grid-container">
  <div class="side-nav">
    <app-navbar></app-navbar>
  </div>
  <div class="content">
    <app-about></app-about>
    <app-education></app-education>
    <app-experience></app-experience>
    <app-projects></app-projects>
    <app-skills></app-skills>
    <app-achievements></app-achievements>
  </div>
</div>
