.profile-grid-container{
    width: 100vw;
    height: 100vh;
    /* border: 1px dashed red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav co co co co co co";
}
.side-nav{
    position: fixed;
    grid-area: nav;
    background-color: #424242;
    z-index: -1;
    width: 25%;
} 
.content{
    grid-area: co;
    /* border: 1px dashed red; */
    z-index: -1;
    margin: 0px 20px;
}
.skills-container{
    border: 1px dashed black;
    margin: 30px;
}
.popup-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.9;
    z-index: 1;
    display: none;
}
h1 {
  height: 25vh;
}
.popup-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
}
