<div class="popup-bg">
  <div class="popup-modal form">

  </div>
</div>

<div class="profile-grid-container">
  <i class="fas fa-bars nav-icon" (click)="showNav()" *ngIf="!menu"></i>
  <i class="fas fa-arrow-left nav-icon" (click)="hideNav()" *ngIf="menu"></i>
  <div class="side-nav" *ngIf="menu">
    <app-navbar></app-navbar>
  </div>
  <div class="content">
    <app-about></app-about>
    <app-education></app-education>
    <app-experience></app-experience>
    <app-projects></app-projects>
    <app-skills></app-skills>
    <app-achievements></app-achievements>
  </div>
</div>
