.popup-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  display: none;
}
.close-btn {
    color: #fff;
    width: 100%;
    height: 100%;
  }
  
  .close-modal-btn {
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin: 10px;
  }
  
  .close-btn {
    color: #fff;
    width: 100%;
    height: 100%;
  }
/* Education Popup grid declaration */
  .inputs {
    margin: 15px; 
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "eduLabel eduLabel  . . ."
    "edustartMonth edustartYear  insName insName insName"
    "expEndLabel expEndLabel study study degree"
    "endMonth endYear . . ."
    "current . eduText eduText eduText";
  }
  .eduLabel {
    grid-area: eduLabel;
  }
  .edustartMonth{
    border: none;
    border-radius: 8px;
    grid-area: edustartMonth;
  }
  .edustartYear{
    border: none;
    border-radius: 8px;
    grid-area: edustartYear;
  }
  .insName{
    grid-area: insName;
  }
  .current{
    grid-area: current;
  }
  .study {
    grid-area:study;
  }
  .degree {
    border: none;
    border-radius: 8px;
    grid-area: degree;
  }
  .eduText {
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 8px;
    grid-area: eduText;
    font: Tahoma, sans-serif;
  }
  .close-modal-btn{
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin: 10px;
  }
  .close-btn{
    color: #fff;
    width: 100%;
    height: 100%;
  }
  .button-section{
    text-align: center;
    padding: 10px 0px 10px 0px;
  }
  button{
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    color: #757575;
    cursor: pointer;
  }
  .expEndLabel {
    grid-area: expEndLabel;
  }
  .endMonth {
    border: none;
    border-radius: 8px;
    grid-area: endMonth;
  }
  .endYear {
    border: none;
    border-radius: 8px;
    grid-area: endYear;
  }
  