<form class="form">
  <div class="title-section">
    <h2>Get started, it's free! </h2>
  </div>
  <div class="inputs">
    <input class="form-input first-name"type="text" placeholder="First Name">
    <input class="form-input last-name"type="text" placeholder="Last Name">
    <input class="form-input e-mail"type="text" placeholder="E-mail">
    <input class="form-input create"type="text" placeholder="Create Password">
    <input class="form-input confirm"type="text" placeholder="Confirm Password">
    <input class="form-input city"type="text" placeholder="City">
    <input class="form-input state"type="text" placeholder="State">
  </div>
  <div class="button-section">
    <button>Click to Create Account!</button>
  </div>
</form>
 